@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section css{
    <link rel="stylesheet" href="~/front/css/login.css">
   
}
<div class="login" >
        <div class="container">
             <div class="bir">
              <h1>Login</h1>
              <form action="login" method="post">
                 
                  <label for="us">Username</label>
                  <input type="text"  name="name" id="us"><br>
                  <label for="qiymet">Password</label>
                  <input type="password"  name="pass" id="qiymet"><br>
                 
                  <input type="submit" value="Login" class="submit">
                 
                  
               </form>
             </div>
        </div>
  </div>  